// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.App {
  background: #fff;
  height: 100vh;
}
input {
  background: #fff !important;
}
.deletebutton {
  margin-top: -8px;
}
.listing {
  list-style: none;
  padding: 10px;
}
.listing li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.taskdone {
  text-decoration: line-through;
}
.deletebutton {
  float: right;
}
.App {
  background: #fff;
  height: 100vh;
}
input {
  background: #fff !important;
}
.deletebutton {
  margin-top: -8px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  /* gap: 4px; */
}
nav ul li {
  display: flex;
  background: #44d298;
  padding: 20px;
  border-radius: 10px;
  width: 8em;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
